.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    padding: 130px 0 10px 70px;
    font-weight: 600;
    font-size: 22px;
    color: #000;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #d9d9d9;
}